h1, .h1, h2, .h2, h3, .h3 {
	margin: 0;
}
#logo {
	font-family: 'Satisfy', cursive;
}
body {
	background: #ecf0f1;
}

header{
	border-bottom: solid white 10px;
}

header h1 {
	background: #27ae60;
	color: white;
	margin: 0;
	padding: 20px 0;
}
#modal1 {
	height: 100%;
}

#addForm {
	text-align: center;
}

#addKnotPane {
	position: relative;
	padding: 15px 0;
	margin-bottom: 20px;
}

.motivation{
	color: rgba(255,255,255,0.3);
	display: none;
	height: 100%;
	transition: all 0.5s ease;
	font-size: 2em;
	cursor: pointer;
	/*opacity: 0;*/
	position: absolute;
	top: -25px;
	left: 60%;
}

.motivation:hover{
	color: #2980b9;
}

button.addKnot {
	width: 100%;
	border: none;
	background: none;
	font-size: 1.5em;
	color: green;
}

#addKnotPane h2 {
	text-align: center;
	padding: 20px 0;
	margin-bottom: 20px;
}
#modal1.modal.modal-fixed-footer .modal-content {
  position: fixed;
  height: 100%;
  padding-bottom: 64px;
  width: 100%;
  overflow-y: auto;
}
#modal1.modal {
	max-height: 50%;
}
#modal2.modal .modal-footer {
	padding: 16px;
	height: 100%;
	

}
#modal2.modal .modal-content {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	border-radius: 0;
	  background: rgba(0,0,0,0.5);
  	color: white;
  	padding: 40px;
}
#modal2 textarea {
	padding: 10px;
	font-size: 1.3em;
	height: 80px;
}
#modal2 a.modal-action.modal-close {
  margin: auto;
  display: block;
  width: 100%;
  text-align: center;
  background: #4caf50;
  padding: 10px;
  font-size: 2em;
  color: white;
  text-decoration: none;
  transition: background 0.5s ease-in;
  -webkit-transition: background 0.5s ease-in;
  -moz-transition: background 0.5s ease-in;
}
.senderBtn:hover {
	background: #81c784 !important;
}
#modal2.modal {
	max-height: 38%;
	top: 0 !important;
	background-color: none !important;
	background: none;
}
#modal1 {
	top: 0 !important;
}
#addKnotPane #hideAddPane {
	position: absolute; 
	right: 0;
	top: 0;
}

.knotMember {
	padding: 25px 10px;
	background: -webkit-linear-gradient(
		to right,
		#2980b9, #27ae60
		);
	background: -o-linear-gradient(
		to right,
		#2980b9, #27ae60
		);
	background: linear-gradient(
		to right,
		#2980b9, #27ae60
		);
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}
.placeholder {
	width: 100%;
	content: '+Add Knot';
	padding: 8px 10px;
	margin-bottom: 10px;
	height: 90px;
	background: #ccc;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}
.placeholder:hover {
	cursor: pointer;
}
h3#addHeaderText {
	color: #ccc;
}
a.addKnotText {
	text-align: center;
	font-size: 1.6em;
	color: white;
}
a.addKnotText:hover {
	color: inherit;
	text-decoration: none;
}
.knotMember h3 {
	color: white;
	opacity: 1.0;
	position: relative;
	z-index: 1;
}
.knotMember small {
	color: white;
}
.knotMember:hover {
	opacity: 1.0;

}
.activeMember {
	background: rgba(144,144,144,0.4);
}
.memberDetail {
	display: none;
	z-index: 3;
	position: relative;
}
.done {
	content: "Done";
	text-align: center;
	font-size: 2em;
}
.days {
	position: absolute;
	bottom: 10%;
	right: 25%;
	z-index: 5;
	color: white;
	font-style: italic;
	font-weight: bold;
}
.rangeVal {
	color: white;
	display: none;
}
.test {
	background: #2980b9;
	position: absolute;
	width: 20%;
	height: 100%;
	top:0;
	left:0;
}
.test2 {
	background: #27ae60;
	position: absolute;
	width: 20%;
	height: 100%;
	top:0;
	left:20%;
}
.test3 {
	background: #2980b9;
	position: absolute;
	width: 50%;
	height: 100%;
	top:0;
	left:40%;
}
#notifs {
	font-size: 2em;
	color: white;
	position: absolute;
	right: 15px;
	top: 10px;
	padding: 3px 12px;
	border: 3px solid white;
	cursor: pointer;
	background: #e74c3c;
}
#notifs:hover {
	background: #c0392b;
}
#notifCenter {
	display: none;
}
ul.notifications {
	list-style-type: none;
	padding-left: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}
li.notificationSing {
	padding: 10px 0;
	background: white;
}
li.notificationSing:hover {
	background: #ecf0f1;
}
.encourageIcon {
	right: 7%;
	top: 7%;
	position: absolute;
	color: white;
	border: solid 3px white;
	padding: 2px 6px;
	border-radius: 5px;
	z-index: 200;
	background: #aaa;
}
.fa-child:hover {
	color: #27ae60;
}
h3.yName {
  position: absolute;
  top: 20%;
  font-size: 5em;
  color: rgba(255, 255, 255, 0.498039);
}
a.pName {
  position: absolute;
  top: 1%;
  right: 1%;
  font-size: 5em;
  color: rgba(255, 255, 255, 0.498039);
  z-index: 22;
   pointer-events: none;
}
a.pName:hover {
	text-decoration: none;
}
.yellowBlock {
	background-color: #f1c40f;
	height: 100%;
	position: absolute;
	top:0;
}
.needsMotivation {
	color: #f44336 !important;
	transition: all 0.5s ease-in;
	-webkit-transition: all 0.5s ease-in;
	-moz-transition: all 0.5s ease-in;
}
.needsMotivation:hover {
	color: #e57373 !important;
	cursor: pointer;
}
.redBlock {
	background-color: #3498db;
	height: 100%;
	position: absolute;
	top:0;
}
.completed {
  background: goldenrod;
  content: 'Knot completed!';
}
input.rangeValue {
  display: block;
  width: 100px;
  color: white;
  font-size: 2.2em;
  text-align: center;
}
h3.completedTxt {
  color: rgba(255,255,255,0.5);
}
h3.aTitle {
	font-size: 3.5em;
	text-align: center;
}