h1, .h1, h2, .h2, h3, .h3 {
	margin: 0;
}
body {
	background: #ecf0f1;
}
header h1 {
	background: #27ae60;
	color: white;
	margin: 0;
	padding: 20px 0;
}

#addKnotPane {
	background: rgba(144,144,144,0.3);
	position: relative;
	padding: 15px 0;
	margin-bottom: 20px;
}

button.addKnot {
	width: 100%;
	border: none;
	background: none;
	font-size: 1.5em;
	color: green;
}

.hoverButton:hover {
	background: rgba(144,144,144,0.7);

}
#addKnotPane h2 {
	text-align: center;
	padding: 20px 0;
	margin-bottom: 20px;
}
#addKnotPane #hideAddPane {
	position: absolute; 
	right: 0;
	top: 0;
}

.knotMember {
	padding: 8px 10px;
	background: #7f8c8d;
    margin-bottom: 10px;
    position: relative;
}
.knotMember h3 {
	color: white;
	opacity: 1.0;
	position: relative;
	z-index: 1;
}
.knotMember small {
	color: white;
}
.knotMember:hover {
	opacity: 1.0;

}
.activeMember {
	background: rgba(144,144,144,0.4);
}
.memberDetail {
	display: none;
	z-index: 3;
	position: relative;
}
.done {
	content: "Done";
	text-align: center;
	font-size: 2em;
}
.days {
	position: absolute;
	bottom: 10%;
	right: 25%;
	z-index: 5;
	color: white;
	font-style: italic;
	font-weight: bold;
}
.rangeVal {
	color: white;
	display: inline-block;
}
.test {
	background: #2980b9;
	position: absolute;
	width: 20%;
	height: 100%;
	top:0;
	left:0;
}
.test2 {
	background: #27ae60;
	position: absolute;
	width: 20%;
	height: 100%;
	top:0;
	left:20%;
}
.test3 {
	background: #2980b9;
	position: absolute;
	width: 50%;
	height: 100%;
	top:0;
	left:40%;
}
#notifs {
	font-size: 2em;
	color: white;
	position: absolute;
	right: 15px;
	top: 10px;
	padding: 3px 12px;
	border: 3px solid white;
	cursor: pointer;
	background: #e74c3c;
}
#notifs:hover {
	background: #c0392b;
}
#notifCenter {
	display: none;
}
ul.notifications {
	list-style-type: none;
	padding-left: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}
li.notificationSing {
	padding: 10px 0;
	background: white;
}
li.notificationSing:hover {
	background: #ecf0f1;
}
.encourageIcon {
	right: 7%;
	top: 7%;
	position: absolute;
	color: white;
	border: solid 3px white;
	padding: 2px 6px;
	border-radius: 5px;
	z-index: 200;
	background: #aaa;
}
.fa-child:hover {
	color: #27ae60;
}